In [1]:
import pandas as pd
import numpy as np

from ast import literal_eval

In [2]:
df_movies = pd.read_csv('data/movies_all.csv')
df_movies.shape

(10000, 12)

In [3]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        10000 non-null  object
 1   language      10000 non-null  object
 2   title         10000 non-null  object
 3   rating        10000 non-null  float64
 4   runtime       9848 non-null   object
 5   cast          10000 non-null  object
 6   release_date  10000 non-null  object
 7   director      9925 non-null   object
 8   Revenue       10000 non-null  object
 9   Budget        10000 non-null  object
 10  Keywords      10000 non-null  object
 11  type          10000 non-null  object
dtypes: float64(1), object(11)
memory usage: 937.6+ KB

In [4]:
df_tv = pd.read_csv('data/tv_all.csv')
df_tv.shape

(10000, 12)

In [5]:
df_tv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    10000 non-null  object
 1   rating                   10000 non-null  float64
 2   release_date             9965 non-null   object
 3   language                 10000 non-null  object
 4   current_season           9999 non-null   object
 5   current_season_Episodes  9999 non-null   object
 6   runtime                  9307 non-null   object
 7   director                 5888 non-null   object
 8   genre                    10000 non-null  object
 9   cast                     10000 non-null  object
 10  Keywords                 10000 non-null  object
 11  type                     10000 non-null  object
dtypes: float64(1), object(11)
memory usage: 937.6+ KB

title language rating current_season

add to movies: current_season=0 current_season_Episodes=1

In [6]:
df_movies['current_season'] = 0
df_movies['current_season_Episodes'] = 1

df_movies = df_movies.rename(columns={"genres": "genre"})
df_movies = df_movies.drop(['Revenue','Budget'],axis=1)

In [7]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   genre                    10000 non-null  object
 1   language                 10000 non-null  object
 2   title                    10000 non-null  object
 3   rating                   10000 non-null  float64
 4   runtime                  9848 non-null   object
 5   cast                     10000 non-null  object
 6   release_date             10000 non-null  object
 7   director                 9925 non-null   object
 8   Keywords                 10000 non-null  object
 9   type                     10000 non-null  object
 10  current_season           10000 non-null  int64
 11  current_season_Episodes  10000 non-null  int64
dtypes: float64(1), int64(2), object(9)
memory usage: 937.6+ KB

In [8]:
df_movies.shape, df_tv.shape

((10000, 12), (10000, 12))

In [9]:
df_00 = pd.concat([df_movies, df_tv])
df_00.shape

(20000, 12)

In [10]:
df_00.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   genre                    20000 non-null  object
 1   language                 20000 non-null  object
 2   title                    20000 non-null  object
 3   rating                   20000 non-null  float64
 4   runtime                  19155 non-null  object
 5   cast                     20000 non-null  object
 6   release_date             19965 non-null  object
 7   director                 15813 non-null  object
 8   Keywords                 20000 non-null  object
 9   type                     20000 non-null  object
 10  current_season           19999 non-null  object
 11  current_season_Episodes  19999 non-null  object
dtypes: float64(1), object(11)
memory usage: 2.0+ MB

In [11]:
df_00['director'] = df_00['director'].fillna(value=0)
df_00 = df_00.dropna()

In [12]:
df_00['genre'] = df_00['genre'].apply(lambda x: literal_eval(x))
df_00['cast'] = df_00['cast'].apply(lambda x: literal_eval(x))
df_00.shape

(19131, 12)

In [13]:
df_00.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19131 entries, 0 to 9998
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   genre                    19131 non-null  object
 1   language                 19131 non-null  object
 2   title                    19131 non-null  object
 3   rating                   19131 non-null  float64
 4   runtime                  19131 non-null  object
 5   cast                     19131 non-null  object
 6   release_date             19131 non-null  object
 7   director                 19131 non-null  object
 8   Keywords                 19131 non-null  object
 9   type                     19131 non-null  object
 10  current_season           19131 non-null  object
 11  current_season_Episodes  19131 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.9+ MB

In [14]:
genres_list = []
for movie in df_00.genre.values.tolist():
    for genre in movie:
        if genre not in genres_list:
            genres_list.append(genre)

In [15]:
all_genre_list = []
for movie in df_00.genre.values.tolist()[:]:
    genre_list = []
    for genre in genres_list:
       
        if genre in movie:
            genre_list.append(1)
        if genre not in movie:
            genre_list.append(0)
    all_genre_list.append(genre_list)

In [16]:
df_generes = pd.DataFrame(all_genre_list,columns=genres_list)
df_generes.shape

(19131, 28)

In [17]:
df_generes.shape, df_00.shape

((19131, 28), (19131, 12))

In [18]:
df_01 = df_00.join(df_generes)
df_01.shape

(19131, 40)

In [19]:
cast_list = []
for movie in df_00.cast.values.tolist():
    for cast in movie[:3]:
        if cast not in cast_list:
            cast_list.append(cast)

In [20]:
len(cast_list)

25811

In [21]:
df_00.cast.values.tolist()[:5]

[['Tom Holland',
  'Zendaya',
  'Benedict Cumberbatch',
  'Jacob Batalon',
  'Jon Favreau',
  'Jamie Foxx',
  'Willem Dafoe',
  'Alfred Molina',
  'Benedict Wong'],
 ['Gemma Chan',
  'Richard Madden',
  'Angelina Jolie',
  'Kumail Nanjiani',
  'Barry Keoghan',
  'Lauren Ridloff',
  'Lia McHugh',
  'Brian Tyree Henry',
  'Ma Dong-seok'],
 ['Selena Gomez',
  'Andy Samberg',
  'Kathryn Hahn',
  'Jim Gaffigan',
  'Steve Buscemi',
  'Molly Shannon',
  'David Spade',
  'Keegan-Michael Key',
  'Brian Hull'],
 ['Stephanie Beatriz',
  'María Cecilia Botero',
  'John Leguizamo',
  'Mauro Castillo',
  'Jessica Darrow',
  'Angie Cepeda',
  'Carolina Gaitán',
  'Diane Guerrero',
  'Wilmer Valderrama'],
 ['Kaya Scodelario',
  'Robbie Amell',
  'Hannah John-Kamen',
  'Tom Hopper',
  'Avan Jogia',
  'Donal Logue',
  'Neal McDonough',
  'Chad Rook',
  'Marina Mazepa']]

In [22]:
all_cast_list = []
for movie in df_00.cast.values.tolist()[:]:
    acter_list = []
    for cast in cast_list:
        if cast in movie:
            acter_list.append(1)
        if cast not in movie:
            acter_list.append(0)
    all_cast_list.append(acter_list)

In [23]:
len(all_cast_list)

19131

In [24]:
df_cast = pd.DataFrame(all_cast_list,columns=cast_list)
df_cast.shape

(19131, 25811)

In [25]:
df_cast.head()

,Tom Holland,Zendaya,Benedict Cumberbatch,Gemma Chan,Richard Madden,Angelina Jolie,Selena Gomez,Andy Samberg,Kathryn Hahn,Stephanie Beatriz,...,Misa Fukamachi,Shayle Simons,Vania Gill,Jennifer Calvert,Kristin Dattilo,Tina Holmes,Kate Lang Johnson,Lola Glaudini,Malachi Throne,Al Bain
0,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
df_cast['Benedict Cumberbatch'].sum()

31

In [27]:
df_cast.shape

(19131, 25811)

In [28]:
sum_list = df_cast.sum(axis=0)

In [29]:
acters_top_300_list = sum_list.sort_values(ascending=False)[:300].index.tolist()

In [30]:
df_cast[acters_top_300_list].shape

(19131, 300)

In [31]:
df_02 = df_01.join(df_cast[acters_top_300_list])
df_02.shape

(19131, 340)

In [32]:
df_02.head()

,genre,language,title,rating,runtime,cast,release_date,director,Keywords,type,...,Hiroki Yasumoto,Takuya Eguchi,Mark Ruffalo,Paul Giamatti,Christian Bale,Michael Douglas,Sean Bean,Kathryn Hahn,Luis Guzmán,Meryl Streep
0,"[Action, Adventure, Science Fiction]",Original Language English,Spider-Man: No Way Home,85.0,2h 28m,"[Tom Holland, Zendaya, Benedict Cumberbatch, J...","Dec 15, 2021",Stan Lee,"[<a href=""/keyword/1701-hero/movie"">hero</a>, ...",movie,...,0,0,0,0,0,0,0,0,0,0
0,"[Action & Adventure, Comedy, Sci-Fi & Fantasy]",Original Language English,Peacemaker,86.0,46m,"[John Cena, Danielle Brooks, Freddie Stroma, C...","Jan 13, 2022",James Gunn,"[<a class=""rounded"" href=""/keyword/9715-superh...",Type Scripted,...,0,0,0,0,0,0,0,0,0,0
1,"[Action, Adventure, Fantasy, Science Fiction]",Original Language English,Eternals,73.0,2h 36m,"[Gemma Chan, Richard Madden, Angelina Jolie, K...","Nov 03, 2021",Chloé Zhao,"[<a href=""/keyword/3925-boredom/movie"">boredom...",movie,...,0,0,0,0,0,0,0,0,0,0
1,[Drama],Original Language English,Euphoria,84.0,1h,"[Zendaya, Hunter Schafer, Jacob Elordi, Alexa ...","Jun 16, 2019",Sam Levinson,"[<a class=""rounded"" href=""/keyword/6270-high-s...",Type Scripted,...,0,0,0,0,0,0,0,0,0,0
2,"[Animation, Family, Fantasy, Comedy, Adventure]",Original Language English,Hotel Transylvania: Transformania,77.0,1h 27m,"[Selena Gomez, Andy Samberg, Kathryn Hahn, Jim...","Jan 13, 2022",Genndy Tartakovsky,"[<a href=""/keyword/3133-vampire/movie"">vampire...",movie,...,0,0,0,0,0,0,0,1,0,0

In [33]:
df_02.columns[df_02.isna().sum() > 0]

Index([], dtype='object')

In [34]:
directors_list = []
for director in df_02.director.values.tolist():
    if director not in directors_list:
        directors_list.append(director)

In [35]:
directors_dict = dict.fromkeys(directors_list, 0)

In [36]:
for director in df_02.director.values.tolist():
    directors_dict[director] +=1

In [37]:
directors_dict[0] = 0

In [38]:
directors_dict

{'Stan Lee': 21,
 'James Gunn': 7,
 'Chloé Zhao': 3,
 'Sam Levinson': 3,
 'Genndy Tartakovsky': 10,
 'Jon Favreau': 6,
 'Jared Bush': 1,
 0: 0,
 'Johannes Roberts': 5,
 'Garth Jennings': 2,
 'Hayden Schlossberg': 2,
 'Jason Reitman': 10,
 'Phil Redmond': 3,
 'Fansu Njie': 1,
 'Steven Knight': 7,
 'Lana Wachowski': 4,
 'Tom Kapinos': 2,
 'Kelly Marcel': 2,
 'Merv Griffin': 2,
 'Monika Mitchell': 2,
 'Greg Berlanti': 14,
 'Mattson Tomlin': 1,
 'Shonda Rhimes': 4,
 'Rawson Marshall Thurber': 4,
 'Lícia Manzo': 3,
 'Destin Daniel Cretton': 3,
 'James Nunn': 4,
 'Aaron Korsh': 1,
 'David Hackl': 3,
 'Roberto Aguirre-Sacasa': 3,
 'Pablo Guerrero': 1,
 'Bob Stewart': 1,
 'James Cullen Bressack': 2,
 'Matt Groening': 5,
 'Haruo Sotozaki': 4,
 'Sebastián Ortega': 3,
 'Norman Bridwell': 1,
 'David Shore': 2,
 'Danila Kozlovsky': 1,
 'Frank Darabont': 6,
 'Scott Cooper': 4,
 'Hwang Dong-hyuk': 2,
 'Ivan Kavanagh': 1,
 'Kai Pflaume': 1,
 'Michael Pearce': 1,
 'David Benioff': 1,
 'Mike Hostench': 1,
 'David Kirschner': 2,
 'James Vanderbilt': 1,
 'Jonathan Igla': 1,
 'Michael McCullers': 1,
 'Rafe Judkins': 1,
 'Cary Joji Fukunaga': 5,
 'Adriana Suarez': 1,
 'Rohit Shetty': 1,
 'Ridley Scott': 14,
 'Bart Nickerson': 1,
 'Denis Villeneuve': 6,
 'Greg Russo': 1,
 'Thomas Astruc': 3,
 'Matt Lieberman': 2,
 'Park Eun-kyo': 1,
 'David Silverman': 6,
 'Andres Salgado': 1,
 'Miguel Sapochnik': 2,
 'Cris Morena': 8,
 'Sarah Smith': 2,
 'Kevin Williamson': 10,
 'Jeff Kinney': 1,
 'Gustavo Bolívar': 2,
 'Harry Cripps': 1,
 'John Swab': 2,
 'Darren Star': 6,
 'Lyle Mitchell Corbine Jr.': 1,
 'Eric Kripke': 7,
 'Roberto Orci': 1,
 'Dan Harmon': 3,
 'Jon Watts': 3,
 'Michael Hirst': 3,
 'Gail Harvey': 1,
 'Sean McNamara': 9,
 'Julio Jiménez': 3,
 'Svyatoslav Podgaevsky': 4,
 'Laurie Nunn': 1,
 'Greig Cameron': 1,
 'Jeff Davis': 2,
 'Justin Lin': 3,
 'Dick Wolf': 12,
 'Enrico Casarosa': 1,
 'Jon Bokenkamp': 2,
 'Marv Wolfman': 2,
 'Bruno Heller': 3,
 'Edward Drake': 3,
 'Álex Pina': 9,
 'Mathieu Turi': 2,
 'Julie Plec': 3,
 'Joe Pearlman': 1,
 'Mauro Wilson': 1,
 'Michael Feifer': 3,
 'Jimmy Fallon': 5,
 'Ayse Uber Kutlu': 1,
 'Izu Ojukwu': 1,
 'Kenji Kamiyama': 7,
 'Abel Ferrara': 2,
 'Trey Parker': 5,
 'Natalie Nourigat': 1,
 'Michael Waldron': 2,
 'Cal Brunker': 3,
 'Hart Hanson': 3,
 'Dmitriy Dyachenko': 3,
 'Vince Gilligan': 2,
 'Castille Landon': 2,
 'Leonardo Padrón': 2,
 'Cate Shortland': 2,
 'Karol Sevilla': 1,
 'Jaume Collet-Serra': 5,
 'Craig Gillespie': 5,
 'Shuko Murase': 2,
 'John Linson': 1,
 'William Eubank': 1,
 'Akira Toriyama': 17,
 'Joe Russo': 3,
 'Lauren Schmidt Hissrich': 1,
 'Evan Spiliotopoulos': 2,
 'Sam Raimi': 14,
 'Chun Sung-il': 1,
 'Adam Wingard': 5,
 'Mariano Calasso': 1,
 'Adam McKay': 8,
 'Yeon Sang-ho': 5,
 'Antoine Fuqua': 11,
 'Jordan Graham': 1,
 'Kohei Horikoshi': 3,
 'Mark Williams': 3,
 'Dan Hernandez': 1,
 'Tim Heitz': 1,
 'Zack Snyder': 8,
 'Andrew W. Marlowe': 5,
 'McKenna Jean Harris': 1,
 'Dave Rosenbaum': 1,
 'Jason Rothenberg': 1,
 'Wisit Sasanatieng': 1,
 'Marta Kauffman': 1,
 'Michael Brandt': 2,
 'Juel Taylor': 1,
 'David Appelbaum': 1,
 'Julien Maury': 2,
 'Seth MacFarlane': 8,
 'James Cameron': 11,
 'Scott Jeffrey': 1,
 'Elle Callahan': 1,
 'Donald P. Bellisario': 6,
 'Andy Coyle': 1,
 'Christian Linke': 1,
 'Don Hall': 1,
 'Carlos Montero': 5,
 'Chris McKay': 1,
 'Fernando Gaitán': 4,
 'Guy Ritchie': 8,
 'J.G. Quintel': 3,
 'Elisa Amoruso': 1,
 'Jaume Balagueró': 7,
 'Dave Erickson': 1,
 'Joe Sill': 1,
 'Aaron Rahsaan Thomas': 1,
 'Shay Hatten': 1,
 'Ximena Suárez': 2,
 'Derek Drymon': 1,
 'Ryan Murphy': 14,
 'Kirk DeMicco': 4,
 'Matt Duffer': 2,
 'Joss Whedon': 10,
 'Jac Schaeffer': 1,
 'Jeymes Samuel': 1,
 'Niyi Akinmolayan': 1,
 'Basil Joseph': 1,
 'Anthony Zuiker': 4,
 'Daniel Monzón': 2,
 'David Leslie Johnson-McGoldrick': 2,
 'Jim Kouf': 1,
 'David Safier': 1,
 'Broni Likomanov': 1,
 'Simon Kinberg': 6,
 'Craig David Wallace': 1,
 'Inés Rodena': 10,
 'Kellie Madison': 1,
 'Drew Goddard': 3,
 'Rodrigo Triana': 1,
 'Fernando Sariñana': 3,
 'Steven Lawson': 2,
 'Jay Beattie': 2,
 'Alexandre Moratto': 1,
 'Chris Columbus': 10,
 'Pendleton Ward': 5,
 'Léa Mysius': 1,
 'Leticia López Margalli': 1,
 'Rick Jacobson': 2,
 'Rodney Rothman': 1,
 'ONE': 1,
 'Scott Derrickson': 8,
 'Clyde Phillips': 1,
 'Edgar Wright': 7,
 'Sydney Newman': 3,
 'Denis Imbert': 1,
 'Chuck Lorre': 11,
 'Manny Hernandez': 1,
 'Roy Chow Hin-Yeung': 2,
 'Anthony Russo': 2,
 'Keith Chapman': 3,
 'Rodo Sayagues': 1,
 'Alex Hirsch': 1,
 'Andrew Baird': 1,
 'Benjamin Cavell': 1,
 'Nick Santora': 4,
 'Ram Madhvani': 1,
 'Neville Astley': 2,
 'Matthew Vaughn': 5,
 'Malcolm Spellman': 1,
 'David Gordon Green': 6,
 'Navot Papushado': 1,
 'Linwood Boomer': 1,
 'Qing Guo': 1,
 'Christopher Lloyd': 1,
 'Alessio Maria Federici': 1,
 'Marisa Quiroga': 1,
 'Masahiro Takata': 1,
 'Tate Taylor': 6,
 'Hilal Saral': 1,
 'Patty Jenkins': 2,
 'Hank Braxtan': 1,
 'Alexi Hawley': 1,
 'Miles Millar': 3,
 'Andrew Traucki': 1,
 'Alfonso Cuarón': 8,
 'John Krasinski': 3,
 'Ben Bocquelet': 1,
 'Hajime Kamegaki': 5,
 'Alex Kurtzman': 8,
 'Tsuneo Kobayashi': 2,
 'Masashi Kishimoto': 4,
 'Aatish Kapadia': 1,
 'Roger Kumble': 5,
 'Paul Scheuring': 4,
 'M. Night Shyamalan': 12,
 'Constance M. Burge': 2,
 'Mike Newell': 8,
 'Tony Ayres': 3,
 'Keishi Ōtomo': 7,
 'Carter Bays': 1,
 'Paul W. S. Anderson': 10,
 'David Schulner': 1,
 'Wregas Bhanuteja': 1,
 'Salvador Simó': 1,
 'William Brent Bell': 6,
 'Martin Campbell': 7,
 'Joseph Barbera': 25,
 'David Yates': 6,
 'Josh Friedman': 2,
 'Ryne Douglas Pearson': 1,
 'Jack Kirby': 8,
 'Yusuf Pirhasan': 1,
 'Stacy Rukeyser': 1,
 'Robin Green': 1,
 'Mikey Day': 1,
 'John Wells': 4,
 'Patrick White': 1,
 'Andy Breckman': 2,
 'Jared Cohn': 3,
 'Kirk Caouette': 1,
 'Peter M. Lenkov': 3,
 'Tim Hill': 3,
 'Stefan Jaworski': 1,
 'Brian Andrew Mendoza': 1,
 'Satoshi Tajiri': 1,
 'Chris Sheridan': 1,
 'Lee Yong-ju': 1,
 'Yoav Paz': 2,
 'Clay Kaytis': 3,
 'David S. Goyer': 11,
 'Hicham Hajji': 1,
 'Jerry Seinfeld': 2,
 'James Manos, Jr.': 1,
 'Richard Claus': 2,
 'Ishibumi Ichiei': 1,
 'Alejandro Lozano': 2,
 'Brad Wright': 4,
 'Steve Blackman': 1,
 'Jenny Gage': 1,
 'Stacy McKee': 1,
 'David Michelinie': 1,
 'Tadayoshi Yamamuro': 1,
 'Ricky Gervais': 8,
 'Jim Hecht': 1,
 'Akiva Goldsman': 4,
 'James DeMonaco': 6,
 'Naoko Takeuchi': 2,
 'Mel Gibson': 3,
 'Raphael Bob-Waksberg': 1,
 'Elaine Bogan': 1,
 'Kurt Sutter': 3,
 'Cédric Jimenez': 2,
 'Shane Brennan': 1,
 'Andy Muschietti': 3,
 'Pete Docter': 3,
 'Tony Basgallop': 1,
 'Carlos Quintanilla Sakar': 1,
 'Adam Price': 3,
 'Andrea Bianchi': 1,
 'Neill Blomkamp': 6,
 'Geoff Johns': 1,
 'Douglas Attal': 1,
 'David Chase': 2,
 'Hideaki Anno': 9,
 'Andy Fickman': 5,
 'Anna Fricke': 2,
 'Dani de la Orden': 3,
 'David Hollander': 2,
 'Bruce Miller': 1,
 'Fran Drescher': 2,
 'Stanley Tong': 7,
 'Alena Smith': 1,
 'Alex Kamb': 1,
 'Kim Jin-min': 3,
 'Wes Ball': 3,
 'Türkan Derya': 1,
 'Helena Amaral': 2,
 'Michael Schur': 2,
 'Isaac Florentine': 7,
 'I. Marlene King': 4,
 'Roland Emmerich': 12,
 'David Slade': 3,
 'Silvana Aguirre Zegarra': 1,
 'Oleg Trofim': 1,
 'Robert Lorenz': 2,
 'Shawn Welling': 1,
 'Tanya Wexler': 2,
 'Peter Berg': 6,
 'Ilya Naishuller': 2,
 'Joe Kelly': 6,
 'Rodolfo Riva Palacio Alatriste': 3,
 'Pedro González Bermúdez': 1,
 'Bartosz M. Kowalski': 2,
 'Takaomi Kanasaki': 1,
 'Lizz Winstead': 1,
 'Tommy Wirkola': 4,
 'David Charhon': 1,
 'Marc Cherry': 3,
 'Shane Dax Taylor': 1,
 'Lee Unkrich': 2,
 'Magnus Martens': 1,
 'Anthony Horowitz': 3,
 'Motonori Sakakibara': 1,
 'George Clooney': 5,
 'Jason Shuman': 1,
 'Brian Helgeland': 7,
 'Paco Caballero': 1,
 'Dan Schneider': 11,
 'Steven Clay Hunter': 1,
 'Chris Appelhans': 1,
 'César Rodrigues': 2,
 'Steve Cox': 1,
 'Robert Zemeckis': 17,
 'Roberto Stopello': 1,
 'Rebecca Sonnenshine': 1,
 'Fifth Solomon': 1,
 'Reggie Amigo': 1,
 'John Lasseter': 5,
 'J.J. Abrams': 9,
 'Luke Armstrong': 1,
 'Derek Simonds': 1,
 'Baran bo Odar': 3,
 'Steven James Creazzo': 1,
 'Jon Keeyes': 1,
 'Shawn Levy': 5,
 'Luis Zelkowicz': 1,
 'Rob Liefeld': 2,
 'Andréa Maltarolli': 2,
 'Ruben Fleischer': 3,
 'Brian K. Vaughan': 1,
 'Sam Fichtner': 1,
 'Naoto Oshima': 1,
 'Miguel Tejada-Flores': 1,
 'Neil LaBute': 4,
 'Mark Raso': 1,
 'Doris Hursley': 1,
 'Scott Pleydell-Pearce': 1,
 'Chris Brancato': 4,
 'Dana Olsen': 2,
 'Will Gluck': 8,
 'Mark Fattibene': 1,
 'Trent Correy': 1,
 'Agatha Christie': 2,
 'Jennifer Lee': 3,
 'Chris Carter': 5,
 'Steven S. DeKnight': 3,
 'Taika Waititi': 6,
 'Irna Phillips': 2,
 'Ernie Altbacker': 2,
 'Jed Elinoff': 2,
 'Rob Minkoff': 5,
 'José Ignacio Cabrujas': 2,
 'Nora Fingscheidt': 2,
 'Jo Hyo-jin': 3,
 'Niki Caro': 3,
 'Piotr Mularuk': 1,
 'Christian Bisceglia': 1,
 'Vicky Jenson': 1,
 'Moira Walley-Beckett': 1,
 'Brian Taylor': 5,
 'João Emanuel Carneiro': 4,
 'Kim Ji-hoon': 2,
 'Daniel Écija': 4,
 'Souichi Masui': 2,
 'Heather Conkie': 1,
 'Kim Byung-seo': 1,
 'Kim Jee-woon': 7,
 'Michael J. Wilson': 2,
 'Kenneth Branagh': 8,
 'Bernard Vaillot': 1,
 'Cedric Nicolas-Troyan': 1,
 'David Pastor': 2,
 'Dimitri Logothetis': 2,
 'Michał Rogalski': 1,
 'Peter Filardi': 1,
 'Chris Morgan': 2,
 'Peter Rida Michail': 1,
 'Stefano Sollima': 3,
 'Burr Steers': 2,
 'Nicolas Cuche': 1,
 'Martin Gero': 2,
 'Rodrigo Perez-Castro': 1,
 'Richard Levinson': 3,
 'Rob Marshall': 6,
 'Michael Patrick King': 5,
 'Makoto Shinkai': 5,
 'Maureen Jennings': 1,
 'Mark Baldo': 3,
 'Amy Holden Jones': 2,
 'Rodolphe Lauga': 1,
 'Harald Zwart': 4,
 'George Lucas': 19,
 'Matt Reeves': 5,
 'Dan Fogelman': 5,
 'Gabriel Nuncio': 1,
 'Steve Franks': 4,
 'Takaharu Ozaki': 1,
 'Robert Doherty': 1,
 'Ethan Spaulding': 7,
 'Mark Fergus': 1,
 'Scott Stewart': 4,
 'Andrew Adamson': 3,
 'Roberts Gannaway': 5,
 'Renny Harlin': 12,
 'Todd Phillips': 9,
 'Carolina Diaz': 1,
 'Ferdinando Cito Filomarino': 1,
 'Edward Kitsis': 3,
 'James Wan': 9,
 'Daniel Chong': 2,
 'Charles E. Bastien': 2,
 'Marçal Forés': 1,
 'Henry Selick': 3,
 'Peter Jackson': 13,
 'Stephen J. Cannell': 13,
 'Rob Reiner': 8,
 'Brian Koppelman': 2,
 'Lee Kae-byeok': 1,
 'Ricardo Araújo Pereira': 1,
 'Michael Bacall': 3,
 'Chris Savino': 3,
 'David Ayer': 8,
 'Charlie Brooker': 2,
 'Hikaru Yamaguchi': 1,
 'Mr. Lawrence': 2,
 'Rodrigo Fiallega': 1,
 'Sunghoo Park': 1,
 'Wilfred Jackson': 2,
 'Santiago Menghini': 1,
 'Daron Nefcy': 1,
 'Marc Forster': 6,
 'Britt Allcroft': 2,
 'Sam Taylor-Johnson': 1,
 'Carlos Saldanha': 4,
 'Jimena Romero': 1,
 'Seth Grahame-Smith': 4,
 'Éric Toledano': 2,
 'Shane Black': 6,
 'Maxwell Atoms': 3,
 'Gordon Yang': 1,
 'Brian Yorkey': 1,
 'Becky Johnston': 1,
 'Masami Kurumada': 3,
 'Jason Tracey': 1,
 'James McTeigue': 5,
 'Mark Goodson': 2,
 "Liam O'Donnell": 1,
 'Kim Eun-sook': 5,
 'Andaç Haznedaroğlu': 1,
 'Zack Stentz': 1,
 'Caroline Dries': 1,
 'David Yarovesky': 2,
 'Christopher Silber': 1,
 'Guillermo del Toro': 13,
 'Linda Woolverton': 2,
 'Michael Hegner': 1,
 'Tetsuo Yajima': 2,
 'Peter Casey': 1,
 'Christopher Nolan': 10,
 'Scott M. Gimple': 2,
 'Maciej Kawulski': 1,
 'Pascual Sisto': 1,
 'Aaron Martin': 2,
 'John Gray': 1,
 'Dana Terrace': 1,
 'Martin Scorsese': 15,
 'Jannik Tai Mosholt': 1,
 'Todor Chapkanov': 3,
 'Reinaldo Marcus Green': 2,
 'Stephanie Savage': 3,
 'Brad Turner': 2,
 'Ed Decter': 2,
 'Barry Cook': 2,
 'Valerie Walsh': 1,
 'Aaron Fjellman': 1,
 'Rebecca Sugar': 3,
 'E.W. Swackhamer': 1,
 'Takao Koyama': 1,
 'Sam Esmail': 2,
 'Wes Craven': 15,
 'Ryan Coogler': 2,
 'Gene Roddenberry': 10,
 'Joe Johnston': 5,
 'George Kay': 1,
 'Ronald D. Moore': 6,
 'James Foley': 5,
 'Darren Lynn Bousman': 5,
 'Paul Weitz': 4,
 'Müge Turalı Pak': 1,
 'Ron Clements': 4,
 'Jim Mickle': 2,
 'Brad Bird': 6,
 'Peter Morgan': 1,
 'Brian Gunn': 1,
 'María Torres': 1,
 'Kevin Nolting': 1,
 'Wes Anderson': 9,
 'Butch Hartman': 3,
 'Naoyoshi Shiotani': 2,
 'Yoo Bo-ra': 2,
 'Nancy Meyers': 5,
 'Aaron Spelling': 8,
 'Robert L. Baird': 1,
 'Hitoshi Matsumoto': 1,
 'Takeo Takahashi': 4,
 'Patrick Ness': 3,
 'Lorna Cook': 1,
 'Lucas Miles': 1,
 'Mark Burnett': 7,
 'Gary Scott Thompson': 7,
 'Herman Verbaet': 3,
 'Leigh Janiak': 3,
 'Stephen Butchard': 2,
 'Jim Dauterive': 1,
 'Masahiko Murata': 5,
 'Kevin Eastman': 5,
 'Steve Oedekerk': 6,
 'Naoko Yamada': 2,
 'Vinicius Videla': 1,
 'Brian Young': 1,
 'Gil Kenan': 3,
 'Dennis Dugan': 10,
 'Jeremy Carver': 2,
 'Erle Stanley Gardner': 1,
 'Robert Mark Kamen': 4,
 'Josh Cooley': 2,
 'Douglas Schwartz': 2,
 'Raúl Martínez': 2,
 'Christian Schwochow': 3,
 'Vyacheslav Dusmukhametov': 1,
 'Rhett McLaughlin': 1,
 'Faruk Turgut': 1,
 'Tove Jansson': 1,
 'William Hanna': 6,
 'Bill Lawrence': 3,
 'Dominic Cooke': 1,
 'Noah Hawley': 2,
 'Rob Yescombe': 1,
 'Walt Simonson': 1,
 'Robert Thorogood': 1,
 'Roald Dahl': 3,
 'Adrián García Bogliano': 1,
 'Matt Braly': 1,
 'Ben Affleck': 4,
 'Anne Fletcher': 3,
 'Søren Sveistrup': 2,
 'Michael Mann': 10,
 'Jo Sung-hee': 2,
 'Elizabeth Meriwether': 3,
 'Nell Scovell': 1,
 'Derek Kolstad': 2,
 'Aaron Guzikowski': 1,
 'Robert Stromberg': 1,
 'Kevin Smith': 11,
 'Craig Macneill': 2,
 'Johane Matte': 1,
 'Julian Jones': 2,
 'Amy Rardin': 1,
 'Jonathan Nolan': 2,
 'McG': 7,
 'Bill Geddie': 1,
 'Lu Ying': 1,
 'Catherine Hardwicke': 5,
 'Molly Smith Metzler': 1,
 'Suzanne Coote': 2,
 'Rumiko Takahashi': 3,
 'Michael Please': 1,
 'Ryan Fleck': 1,
 'Josh Gordon': 2,
 'Edward Zwick': 12,
 'Steve Lightfoot': 2,
 'Carmine Amoroso': 1,
 'Christoffer Boe': 2,
 'Francis Lawrence': 5,
 "Conan O'Brien": 2,
 'Ferdinand Horvath': 1,
 'Phil Weinstein': 3,
 'José Ignacio Valenzuela': 3,
 'Paul Verhoeven': 6,
 'Will Honley': 1,
 'Joan Ganz Cooney': 1,
 'Adam Randall': 3,
 'Shin Ha-eun': 1,
 'Justin Dec': 1,
 'Scott Frank': 3,
 'Kunihiko Yuyama': 20,
 'Jennifer Flackett': 1,
 'Brad Peyton': 5,
 'Jeff Franklin': 4,
 'Jim Sheridan': 5,
 'Kourtney Kang': 1,
 'Chris Van Dusen': 1,
 'Tang Jia San Shao': 1,
 'Daniel Markowicz': 1,
 'Renaud Gauthier': 1,
 'Bryce Wagoner': 2,
 'Jorge Lozano Soriano': 1,
 'Mike Thurmeier': 3,
 'Julien Leclercq': 4,
 'Lorne Michaels': 3,
 'Gore Verbinski': 6,
 'Matthew Miller': 2,
 'Philip Barantini': 1,
 'F. Gary Gray': 4,
 'Jeff Eastin': 2,
 'Lisa Langseth': 2,
 'Eugenio Derbez': 3,
 'Benjamin Cleary': 1,
 'Sam Register': 4,
 'Jenji Kohan': 2,
 'Mike P. Nelson': 2,
 'Eric Overmyer': 2,
 'Bill Condon': 5,
 'Steve Martin': 1,
 'John Thomas': 3,
 'Laura Belloso': 1,
 'Rich Moore': 1,
 'Gerry Swallow': 1,
 'Lauren Faust': 6,
 'Adam Herz': 3,
 'Shōtarō Ishinomori': 4,
 'Keenen Ivory Wayans': 3,
 'Tim Kring': 5,
 'Paul Dini': 3,
 'Mark Gatiss': 2,
 'Andrew Stanton': 4,
 'Elisabeth Röhm': 1,
 'Kim Ga-ram': 1,
 'Gianfranco Mingozzi': 1,
 'Álvaro Fernández Armero': 2,
 'Tom Ruegger': 5,
 'Mark Waters': 8,
 'Roberto Proia': 1,
 'Patrick Brice': 3,
 'Sean Mullen': 1,
 'Amanda Silver': 1,
 'Jeff Goode': 2,
 'Luca Guadagnino': 4,
 'Eliza Clark': 1,
 'Sylvester Stallone': 10,
 'Adam Reed': 2,
 'Robert Rodriguez': 18,
 'Kary Fajer': 2,
 'Luke Greenfield': 2,
 'Rob Savage': 1,
 'Ken Cunningham': 1,
 'Jennie Snyder Urman': 1,
 'Michael Crichton': 6,
 'Kim Soon-ok': 1,
 'Irene Mecchi': 1,
 'Stephen Sommers': 10,
 'Derek Haas': 1,
 'John R. Dilworth': 1,
 'Terry Rossio': 2,
 'Peyo': 3,
 'Robert Fernandez': 1,
 'Timur Savcı': 3,
 'Aaron Sorkin': 7,
 'Gideon Raff': 6,
 'Federico Moccia': 2,
 'Gábor Csupó': 8,
 'Hayao Miyazaki': 11,
 'Craig McCracken': 6,
 'Jiang Ping': 1,
 'Michael Bay': 10,
 'Peter Gould': 1,
 'Julian Fellowes': 7,
 'Kim Tae-ho': 2,
 'Dario Russo': 1,
 'Bonnie Turner': 2,
 'Elliott Lester': 2,
 'George Gallo': 3,
 'Masaaki Yuasa': 3,
 'Stephen King': 19,
 'Lawrence Fowler': 2,
 'Byron Howard': 2,
 'Jean-Yves Raimbaud': 2,
 'Gale Anne Hurd': 1,
 'Pamela Eells': 3,
 'Jonathan Liebesman': 2,
 'Ed Sinclair': 1,
 'Park Hoon-jung': 5,
 'Greg Daniels': 2,
 'Louis Leterrier': 1,
 'Clara Aranovich': 1,
 'Victor Cook': 3,
 'Rita Augustine': 1,
 'Kate Brooke': 2,
 'Tim Burton': 11,
 'Robert Cochran': 1,
 'Kai Li': 1,
 'Craig Mazin': 2,
 'Kim Tae-hyoung': 1,
 'Sam Peckinpah': 4,
 'Bill Schwab': 1,
 'Ricardo Alvarez Canales': 2,
 'Alan B. McElroy': 2,
 'Lina Uribe': 1,
 'Kevin Lewis': 1,
 'Skyler Page': 1,
 'Maggie Gyllenhaal': 1,
 'Paul Attanasio': 3,
 'Alonso Iñiguez': 1,
 'Lauren Gussis': 1,
 'Rob McElhenney': 2,
 'Josh Ruben': 1,
 'Yoshiki Watabe': 1,
 'Dwight H. Little': 6,
 'Stephenie Meyer': 1,
 'Héctor Lozano': 2,
 'Ben Falcone': 4,
 'Mitsuo Hashimoto': 3,
 'Carlton Cuse': 7,
 'Kitao Sakurai': 1,
 'Adam Sandler': 1,
 'Gary Dauberman': 3,
 'Tony Warren': 2,
 'Ted Elliott': 3,
 'Yoo Hyun-mi': 1,
 'Nick Stagliano': 1,
 'Ernest Cline': 1,
 'Brian Fee': 1,
 'Glen A. Larson': 12,
 'Bong Joon-ho': 6,
 'Laeta Kalogridis': 3,
 'Jill E. Blotevogel': 1,
 'Dan Povenmire': 7,
 'Mark Dindal': 3,
 'Taylor Sheridan': 4,
 'Andrew Niccol': 6,
 'Bryan Elsley': 2,
 'Dwayne McDuffie': 3,
 'Kevin Lima': 3,
 'Irwin Allen': 5,
 'Rob Letterman': 5,
 'Sarah Lampert': 1,
 'Joe Shuster': 3,
 'BenDavid Grabinski': 2,
 'Pablo Lejarreta': 1,
 'Matt Youngberg': 1,
 'Vince Marcello': 3,
 'Clint Eastwood': 21,
 'Jesse Armstrong': 2,
 'Lee Na-eun': 1,
 'Yoshihiro Ueda': 1,
 'Martin Zandvliet': 3,
 'Ann Biderman': 2,
 'Kat Coiro': 1,
 'Colin Trevorrow': 4,
 'Ed Friendly': 1,
 'Jojo Moyes': 1,
 'Jayro Bustamante': 1,
 'Greg Weisman': 1,
 'Frankie Chen': 2,
 'René Balcer': 2,
 'Skip Woods': 2,
 'Romuald Racioppo': 1,
 'Adriana Pelusi': 1,
 'Joel Gallen': 2,
 'Tim Miller': 1,
 'George Gatins': 1,
 'Baek Mi-kyung': 2,
 'Quentin Tarantino': 12,
 'Craig Engler': 1,
 'Neil Burger': 4,
 'Ford Riley': 2,
 'Gints Zilbalodis': 1,
 'Duane Capizzi': 1,
 'Nacho G. Velilla': 3,
 'Peter Nowalk': 1,
 'Robert Walker': 1,
 'Eric Wald': 1,
 'Phil Johnston': 1,
 'Park Jae-beom': 6,
 'David Hand': 1,
 'Ryan Seacrest': 2,
 'Shinji Higuchi': 2,
 'Rob Thomas': 2,
 'Osamu Kasai': 1,
 'Richard Curtis': 8,
 'Chris Miller': 1,
 'Lluís Arcarazo': 1,
 'Mark Osborne': 2,
 'Amelia Moses': 1,
 'Bruce Timm': 9,
 'Clay Tarver': 1,
 '이태경': 1,
 'Ron Howard': 16,
 'Nia DaCosta': 1,
 'Joe Nussbaum': 4,
 'Alexs Stadermann': 4,
 'Sol Saks': 1,
 'Takashi Yamazaki': 6,
 'Kirk Wise': 3,
 'Ashley Edward Miller': 1,
 'Josh Lawson': 1,
 'R.L. Stine': 2,
 'Jonathan Larson': 2,
 'Roberto Gómez Bolaños': 4,
 "Dan O'Bannon": 4,
 'Michael C. Murphy': 1,
 'John Hyams': 4,
 'RuPaul': 3,
 'Jacob Johnston': 1,
 'Shinobu Otaka': 4,
 'Vanessa Parise': 1,
 'Ahn Byoung-wook': 1,
 'Derek Smith': 1,
 'Jack Peter Mundy': 1,
 'Turi Meyer': 2,
 'Peter Craig': 2,
 'Eric Darnell': 4,
 'Bruno Garotti': 3,
 'Moisés Zamora': 1,
 'Joe Cornish': 3,
 'Peter Hewitt': 3,
 'Matt Burnett': 1,
 'Warren Ellis': 3,
 'Sajan Skaria': 1,
 'Cassi Simonds': 1,
 'Justin Spitzer': 2,
 'Derrick Granado': 1,
 'Hong Sung-ho': 1,
 'Stuart Hazeldine': 2,
 'Angie Chai': 1,
 'Mao Marita': 1,
 'Shigeyasu Yamauchi': 8,
 'Janet Tamaro': 1,
 'George Miller': 8,
 'Alain Darborg': 1,
 'Jill Murphy': 1,
 'Chris Weitz': 4,
 'Michael G. Moye': 3,
 'Jérémie Guez': 1,
 'Greg Mottola': 3,
 'Sidney Sheldon': 4,
 'Bill Finger': 2,
 'Stephen Herek': 10,
 'J.K. Rowling': 1,
 'Otmar Gutmann': 1,
 'Michael Green': 2,
 'Hu Die Lan': 1,
 'Henry Gayden': 1,
 'He Xiaofeng': 1,
 'Luc Besson': 21,
 'Isaac Aptaker': 2,
 'Lluís Quílez': 1,
 'Sera Gamble': 1,
 'Michelle King': 3,
 'Cristiana Farina': 1,
 "Gavin O'Connor": 5,
 'Ann Cleeves': 2,
 'Peter Moffat': 2,
 'Ben Sharpsteen': 2,
 'Keisuke Shinohara': 1,
 'Michael Colton': 2,
 'Sallie Patrick': 1,
 'Campbell Grant': 1,
 'Jonathan Entwistle': 2,
 'Nikole Beckwith': 1,
 'Brandon Sawyer': 1,
 'Lilly Wachowski': 5,
 'Jack Burditt': 1,
 'Steven Soderbergh': 13,
 'Larry David': 1,
 'Shinichiro Ushijima': 1,
 'Jason Sudeikis': 1,
 'Joe Carnahan': 6,
 'Nick Antosca': 3,
 'Brian Lynch': 1,
 'Kapil Sharma': 1,
 'Buddy Johnson': 1,
 'April Blair': 1,
 'Ben Simms': 1,
 'Dominik Sedlar': 1,
 'Julietta Suzuki': 1,
 'Tommy Faircloth': 1,
 'John de Mol': 10,
 'Taylor Hackford': 5,
 'Baltasar Kormákur': 7,
 'Clyde Geronimi': 3,
 'Ryan White': 1,
 'John Rogers': 5,

In [39]:
df_02['director'] = df_02['director'].map(directors_dict)

In [40]:
df_02['release_date'] = df_02['release_date'].astype('datetime64')

In [41]:
df_02['release_date']= pd.Timestamp.today() - df_02['release_date']
df_02['release_date'] = df_02['release_date'].dt.days

In [42]:
df_02['release_date'].describe()

count    19131.000000
mean      5108.810569
std       5411.172692
min       -122.000000
25%       1264.000000
50%       3254.000000
75%       7075.000000
max      48686.000000
Name: release_date, dtype: float64

In [43]:
len(df_02['release_date'][df_02['release_date'] <0])

15

In [44]:
df_03 = df_02[df_02['release_date'] >0]
df_03.shape

(19115, 340)

In [45]:
df_04 = df_03.reset_index()

In [46]:
def time_calculate(run_sample):
    run_amount = 0
    if run_sample[1] == 'h':
        run_amount += 60*int(run_sample[0])
    try:
        if run_sample[-1] == 'm':
            run_amount += int(run_sample[3:-1])
    except ValueError:
        pass
        
    try:
        if run_sample[2] == 'm':
            run_amount += int(run_sample[:2])
    except IndexError:
        pass
    return run_amount

In [47]:
df_04['runtime'] = df_04['runtime'].apply(lambda x: time_calculate(x))

In [48]:
len(df_04.type.value_counts())

10

In [49]:
df_04.shape

(19115, 341)

In [50]:
df_05 = pd.get_dummies(df_04, columns = ['type','language'], drop_first=True)
df_05.shape

(19115, 403)

In [51]:
df_05 = df_05[df_05.current_season_Episodes != ' Episodes']
df_05.shape

(19112, 403)

In [52]:
def transform_seasons(sample_ep):
    try:
        if sample_ep[-9:] == ' Episodes':
            return int(sample_ep[:-9])
    except TypeError:
            return int(sample_ep)

In [53]:
df_05['current_season_Episodes'] = df_05['current_season_Episodes'].apply(lambda x: transform_seasons(x))

In [54]:
columns_list_to_drop = ['genre','cast','Keywords','index','current_season']

In [55]:
df_06 =df_05.drop(columns_list_to_drop,axis=1)
df_06.shape

(19112, 398)

In [56]:
df_06.to_csv('data/preproced_data.csv',index=False)

In [57]:
df_test = pd.read_csv('data/preproced_data.csv')
df_test.shape

(19112, 398)

In [60]:
df_06.head()

,title,rating,runtime,release_date,director,current_season_Episodes,Action,Adventure,Science Fiction,Fantasy,...,language_Original Language Turkish,language_Original Language Urdu,language_Original Language Zulu,language_Type Documentary,language_Type Miniseries,language_Type News,language_Type Reality,language_Type Scripted,language_Type Talk Show,language_Type Video
0,Spider-Man: No Way Home,85.0,148,47,21,1.0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,Peacemaker,86.0,46,18,7,8.0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Eternals,73.0,156,89,3,1.0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Euphoria,84.0,60,960,3,6.0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,Hotel Transylvania: Transformania,77.0,87,18,10,1.0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [59]:
print(df_test.dtypes.values.tolist())

[dtype('O'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64')]